@model  _18bangServices.ViewModel.Password.ForgetModel
@{
    Layout = null;
}
<script src="~/Scripts/jquery-3.4.1.js"></script>
<script src="~/Scripts/bootstrap.js"></script>
<link href="~/Content/bootstrap.css" rel="stylesheet" />




<div class="container">
    <h2>😭忘了</h2>
    <hr />
    <div class="row">

        <form class="col-md-4 " style="border:1px solid;height:400px">
            <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item" role="presentation">
                    <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true"><i class="fa fa-lock"></i>密码</a>
                </li>
                <li class="nav-item" role="presentation">
                    <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false"><i class="fa fa-user"></i>用户名</a>
                </li>

            </ul>
            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade  active" id="home" role="tabpanel" aria-labelledby="home-tab">
                    @using (Html.BeginForm())
                    {
                        <div class="form-group">
                            <label><strong>email：（* 必填）</strong></label>
                            @Html.TextBoxFor(p => p.Email, new { @class = "form-control", placeholder = "注册时填写的email地址" })
                            @Html.ValidationMessageFor(p => p.Email)
                        </div>

                        <div class="input-group ">
                            <label><strong>通过用户名查找email：</strong></label>

                            @Html.TextBoxFor(p => p.UserName, new { @class = "form-control", placeholder = "必须全称，且不要忘了点击 搜索 按钮" })
                            @Html.ValidationMessageFor(p => p.UserName)
                            <div>
                                <button type="button" class="btn text-primary">查找</button>
                            </div>

                        </div>
                        <div class="form-group">
                            <label><strong>验证码：（* 必填）</strong> </label>
                            <div>
                                @Html.TextBoxFor(p => p.Captcha, new { @class = "form-control", style = "width:30%;display:inline;" })
                                @Html.ValidationMessageFor(p => p.Captcha)
                                <a href="#">看不清楚</a>
                            </div>
                        </div>

                        <button type="submit" class="btn btn-primary">发送邮件</button>
                        <button type="reset" class="btn btn-light border border-secondary">重置</button>
                    }

                </div>
                <div class="tab-pane fade " id="profile" role="tabpanel" aria-labelledby="profile-tab">

                    <div class="input-group ">
                        <label><strong>QQ:</strong> </label>
                        @Html.TextBoxFor(p => p.QQ, new { @class = "form-control", placeholder = "支持从头开始的模糊查询", aria_label = "recipient's username", aria_describedby = "button-addon2" })
                        @Html.ValidationMessageFor(p => p.QQ);

                        <div class="input-group-append">
                            <button type="button" class="btn btn-outline-secondary"><i class="fa fa-search"></i>查找</button>
                        </div>
                    </div>

                    <div class="input-group ">
                        <label><strong>Email:</strong> </label>
                        @Html.TextBoxFor(p => p.Email, new { @class = "form-control", placeholder = "支持从头开始的模糊查询", aria_label = "recipient's username", aria_describedby = "button-addon2" })

                        @Html.ValidationMessageFor(p => p.Email)

                        <div class="input-group-append">
                            <button type="button" class="btn btn-outline-secondary"><i class="fa fa-search"></i>查找</button>
                        </div>
                    </div>
                </div>

            </div>


        </form>


        <aside class="col-md-5 offset-md-2 " style="margin-top:20px;margin-bottom:20px;">
            <h2 style="color:darkblue"><i class="fa fa-question"></i>   说明</h2>
            <ol>
                <li>重置密码的邮件会发送到你填写的Email中。</li>
                <li>输入用户名之后，还要点击旁边的🔎按钮，以完成Email地址的填写。</li>
                <li>现目前，还没有针对未激活Email做特殊提示，请务必确保Email正确。</li>
            </ol>
        </aside>
    </div>
</div>
