@model _18bangMVC.Models.SaleModel
@{
    ViewBag.Title = "Sale";
}
<h2>帮帮币装箱</h2>
<div class="yellowBg" style="width:300px;">
    <div>
        系统要求的最低出售门槛为：50枚
    </div>
    <div>
        目前，你的<span><a>帮帮币：</a></span>
    </div>
    <hr />
    <div>
        结余：<span></span>枚
        <hr />
        可出售：<span></span>枚
    </div>
</div>
@using (Html.BeginForm())
{
    <div class="form-group">
        <label><strong>购买人：（* 必填）</strong></label>
        @Html.TextBoxFor(m => m.ByFrom, new { @class = "form-control", placeholder = "他的用户名，模糊查询只能从头开始" })
        @Html.ValidationMessageFor(m => m.ByFrom)
    </div>
    <div class="form-group">
        <p><strong>出售数量：（* 必填）</strong></p>
        <div div class="input-group input-group-combined">
            <div class="input-group-prepend">
                <p class="btn btn-outline-secondary"><i class="fa fa-money"></i></p>
            </div>
            @Html.TextBoxFor(m => m.SaleCount, new { @class = "form-control", placeholder = "大于0的正整数" })
            @Html.ValidationMessageFor(m => m.SaleCount)

            <span>枚</span>

        </div>
    </div>
    <div class="form-group">
        <p><strong>成交总价：（* 必填，指导单价：20元/枚）</strong></p>
        <div div class="input-group input-group-combined">
          
            @Html.TextBoxFor(m => m.TotalSaleMoney, new { @class = "form-control", placeholder = "大于0的正整数" })
            @Html.ValidationMessageFor(m => m.TotalSaleMoney)
           
        <span>元</span>
          
        </div>
    </div>
    <div class="form-group">
        <label><strong>留言：</strong></label>
        @Html.TextAreaFor(m => m.Message, 5, 4, new { @class = "form-control", placeholder = "一些需特别说明的事项" })
        @Html.ValidationMessageFor(m => m.Message)
    </div>
    <div>
        <button type="submit" class="btn btn-primary rounded">提交</button>
        <button type="submit" class="btn border-secondary rounded">重置</button>
    </div>
}
